<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Basic Vue Js - HelloWorld App</title>

  <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
  <!-- Using via Google Web Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!-- https://tailwindcss.com/docs/installation -->
  <!-- Using Tailwind via CDN -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

  <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
  <div  id="EGOIST" class="px-80 pt-20">
    <div class="text-xl">Photo Gallery ( {{ countPhoto }} )</div>
    
    <ul>
      <li v-for="(task2,index) in search">        
        <button v-on:click="toggleDone2(index)" class="px-2 py-2 hover:opacity-80"> <img v-bind:src="task2.src"></button>
        <div v-show="task2.done">          
            <input class="search-wrapper mt-4 w-40 h-8 border-2 border-black" type="text" placeholder="Please enter text"/>
          <button v-on:click="toggleDone2(index)" class='ml-4 w-20 h-8 border-2 border-black'>Cancel</button>
        <div v-for="photogallery in filteredList">
          <a v-bind:herf="photogallery.dis" target="_blank">
          </a>
        </div>
        </div>
        
      </li>
    </ul>

    <br>

    <ul class="flex space-x-8">
      <li v-for="(task,index) in photogallery">                                   
        {{task.dis}}
        
        <div v-show="task.done"><img class='h-4 w-4' src="./images/baseline_favorite_black_18dp.png"></div>        
        <div v-on:click="toggleDone(index)" class="hover:opacity-80"> <img v-bind:src="task.src"></div>
        
        <div @dblclick="toggleDone(index)"></div> 
       
        <div v-show="task.done"><img v-bind:src="task.src" class='mt-20 px-8 py-8 h-720 w-716 bg-black bg-center'>
        <button v-on:click="toggleDone(index)" class=" "> <img src="./images/baseline_close_black_18dp.png" class="w-4 h-4 absolute left-0 top-0"></button>
        </div>    
        
        
      </li>
    </ul>        
  </div>

  <!-- my main.js -->
  <script src="./main.js"></script>
</body>

</html>